SECRET_KEY = 'SUA_CHAVE'

DEBUG = True

ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost

ENVIRONMENT = 'dev'

POSTGRES_DB = ytdownloader
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_HOST = ytdownloader_db
POSTGRES_PORT = 5432